.card {
    background-color: var(--secondary-color);
}

h3 {
    color: var(--primary-color);
}

p {
    color: var(--body-text-color);
}

input {
    border: none;
}

button {
    background-color: var(--primary-color);
    color: var(--secondary-color)
}