<div class="category-hero">
  <div class="container">
    <h1>Category Title</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam
    </p>
  </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col-md-4 mt-5">
         <app-post-card></app-post-card>   
        </div>
        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>   
           </div>
           <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>   
           </div>
           <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>   
           </div>
           <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>   
           </div>
           <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>   
           </div>
    </div>
</div>

<div class="container mt-5 mb-5 justify-content-center">
    <button class="btn btn-info btn-block btn-sub"> Load More</button>
</div>