<section class="featured-section mb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">Featured Posts</h2>
        <p class="text-white"> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat
        </p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-3">
        <app-post-card class="shadow-effect"></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card class="shadow-effect"></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card class="shadow-effect"></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card class="shadow-effect"></app-post-card>
      </div>
    </div>
  </div>
</section>

<section class="latest-section">
    <div class="container mt-5">
        <div class="col-md-12 text-center">
            <h2 class="latest-title">Latest Posts</h2>
        <p class="latest-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat
        </p>            
        </div>
        <div class="row ">
            <div class="col-md-4 mt-3">
              <app-post-card class="shadow-effect"></app-post-card>
            </div>
            <div class="col-md-4 mt-3">
              <app-post-card class="shadow-effect"></app-post-card>
            </div>
            <div class="col-md-4 mt-3">
              <app-post-card class="shadow-effect"></app-post-card>
            </div>
            <div class="col-md-4 mt-3">
                <app-post-card class="shadow-effect"></app-post-card>
              </div>
              <div class="col-md-4 mt-3">
                <app-post-card class="shadow-effect"></app-post-card>
              </div>
              <div class="col-md-4 mt-3">
                <app-post-card class="shadow-effect"></app-post-card>
              </div>
           
          </div>
    </div>

</section>
