<div class="container">
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect">
        <div class="card-body text-center">
          <h1>
            <i class="fa-solid fa-pen-nib" style="color: #026467"></i>
          </h1>
          <h2>Design</h2>
          <p>Manage your Design details here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect">
        <div class="card-body text-center">
            <h1><i class="fa-solid fa-lightbulb" style="color: #026467"></i></h1>
          <h2>Inspiration</h2>
          <p>Manage your Inspiration details here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect">
        <div class="card-body text-center">
            <h1><i class="fa-solid fa-table-tennis-paddle-ball" style="color: #026467"></i></h1>
          <h2>Sports</h2>
          <p>Manage your Sports details here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect">
        <div class="card-body text-center">
            <h1><i class="fa-solid fa-landmark-dome" style="color: #026467"></i></h1>
          <h2>Politics</h2>
          <p>Manage your Politics details here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect">
        <div class="card-body text-center">
            <h1><i class="fa-solid fa-crown" style="color: #026467;"></i></h1>
          <h2>Fashion</h2>
          <p>Manage your Fashion details here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect">
        <div class="card-body text-center">
            <h1><i class="fa-solid fa-book-open-reader" style="color: #026467;"></i></h1>
          <h2>General Knowledge</h2>
          <p>Manage your General Knowledge details here</p>
        </div>
      </div>
    </div>
  </div>
</div>
