<div class="container">
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card shadow-effect">
                <div class="card-body text-center">
                    <h2> Design </h2>
                    <p> Manage your Design details here </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card shadow-effect">
                <div class="card-body text-center">
                    <h2> Inspiration </h2>
                    <p> Manage your Inspiration details here </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card shadow-effect">
                <div class="card-body text-center">
                    <h2> Sports </h2>
                    <p> Manage your Sports details here </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card shadow-effect">
                <div class="card-body text-center">
                    <h2> Politics </h2>
                    <p> Manage your Politics details here </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card shadow-effect">
                <div class="card-body text-center">
                    <h2> Fashion </h2>
                    <p> Manage your Fashion details here </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card shadow-effect">
                <div class="card-body text-center">
                    <h2> General Knowledge </h2>
                    <p> Manage your General Knowledge details here </p>
                </div>
            </div>
        </div>
    </div>
</div>